.cart-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  border: solid 1px;
}
.cart-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cart-item {
  border: solid 1px;
  border-bottom: none;
  width: 50%;
}
