.cart-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}
.cart-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cart-item {
  border-bottom: solid 1px;
  width: 30%;
  height: 150px;
  margin: 5px;
}
.cart-on-use {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cart-title {
  font-size: 24px;
  color: black;
  margin-bottom: 50px;
}
.cart-total {
  padding-bottom: 50px;
  font-size: 24px;
  font-weight: 400;
}
.add-sub-btn {
  text-decoration: none;
  text-align: center;
  font-weight: 400;
  background-color: #c1f4c5;
  border: 0.5px solid;
  height: 35px;
  width: 35px;
  font-size: 26px;
  border-radius: 5px;
}
.add-sub-btn:hover {
  background-color: #65c18c;
}
.add-sub-btn:active {
  background-color: #ff7ba9;
}

.item-price {
  margin-right: 20px;
  font-size: 24px;
  font-weight: 500;
}
.quantity {
  margin: 5px;
  font-size: 24px;
}
.item-details {
  display: flex;
}
.item-name {
  margin-bottom: 25px;
}
@media (max-width: 650px) {
  .item-details {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .cart-item {
    padding-bottom: 30px;
  }
}
