.meme-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  border: solid 2px;
  border-radius: 6px;
}

.meme-img {
  height: 250px;
  width: 200px;
}
.meme-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  width: 80%;
}
.meme-name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -2px;
  color: #ff7ba9;
}
.buy-btn {
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  background-color: #c1f4c5;

  font-size: 16px;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  border: 0.5px solid;
}
.buy-btn:hover {
  background-color: #65c18c;

  transform: scale(1.05);
}
.buy-btn:active {
  background-color: #ff7ba9;
}
.meme-price {
  font-size: 22px;
  font-weight: 600;
}
