.meme-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  border: solid 2px;
  border-radius: 6px;
}

.meme-img {
  height: 250px;
  width: 200px;
}
.meme-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 80%;
}
.meme-name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -2px;
  color: #ff7ba9;
}
